.bg-footer{
    background-color: #81a0aa;
    background-attachment: fixed;
    background-size: cover;
    /*background-image: url("../../../assets/img/bgGray.webp");*/
}


.logo{
    position: relative;
    display: block;
    left : calc(50% - 45px);
    color: #ff6535;
}

.mapouter {
    /*position: relative;*/
    /*text-align: right;*/
    /*height: 220px;*/
    width: fit-content;
    margin: 0;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 220px;
    width: 90%;
}


.bg-dark-light {
    background: #323232 !important;
}
.bg-theme, .bg-dark, .bg-dark-light, .bg-secondary {
    color: #ffffff;
}
.widgets.footer-widgets .widget-title {
    color: #ffffff;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    position: relative;
    padding-bottom: 15px;
}

@media (max-width: 800px) {
    .widget-title{
        padding-top: 20px;
    }
}

.widgets.footer-widgets .widget-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 60px;
    background: #ff6535;
}

.widgets.footer-widgets .widget-title::before {
    content: '';
    position: absolute;
    display: block;
    width: 60%;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    bottom: 0.5px;
    left: 0;
}




.widgets.footer-widgets .widget-quick-links ul {
    margin-top: -4px;
}
.widgets.footer-widgets .single-widget ul {
    padding-left: 0;
    margin-bottom: 0;
}

.widgets.footer-widgets .widget-quick-links ul li {
    display: block;
}
.widgets.footer-widgets .widget-quick-links ul li .link span{
    display: block;
    font-size: 15px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 9px 0;
    width: 45%;
}
.widgets.footer-widgets .widget-quick-links ul li .link span:hover {
    color: rgba(255, 255, 255, 0.7);
    transform: scale(1.05);
}


.widgets.footer-widgets .single-widget ul li {
    list-style: none;
    font-family: "Raleway", sans-serif;
}



.hrCopyRights{
    margin-top: 7px;
    margin-bottom: 0;
    background-color: rgba(217, 217, 217, 0.6);

}
.social {
    display: flex;
    flex-direction: row;

}
.social a {
    width: 50px;
    height: 40px;
    line-height: 50px;
    color: #ff6535; /*#ff6535*/
    font-size: 20px;
    margin: 5px 5px;
    padding : 0 15px;
}
.social a:hover {
    color: #fff;
}
.social a i:hover{
    transform: translateY(-2px);
    background-color: transparent;
}
@media (max-width: 780px) {
    .custom-wrapper {
        justify-content: center !important;
        align-items: center !important;
    }
}